.Title{
    font-family: 'ApexNewTrial';
    font-weight: 700; /* Bold */
    font-style: normal;
}

.CardRow{
    display: flex;
    justify-content: space-around;
}

.CardCol{
    max-width: 18rem;
    /* border: 2px solid red; */
}