.Input{
    width: inherit;
    border: 0;
    background-color: #F0F1F5 ;
    color: #788094;
    font-weight: 600;
}

.Input::placeholder{
    color: #788094;
    font-weight: 600;
}

.Input:focus{
    outline: none;
    border: 0;
}

.ContactButton{
    background-color: #E9296A;
    color: #fff;
    border: 0;
    font-weight: 700;
}