.Input {
  width: 100%;
  outline: none;
  border: 0;
  background-color: #F0F1F5 ;
  color: #788094;
  font-weight: 600;
}

.Input:focus{
    outline: none;
    border: 0;
}

.Input::placeholder{
    color: #788094;
    font-weight: 600;
}


.ContactButton{
    background-color: #E9296A;
    color: #fff;
    border: 0;
    font-weight: 700;
}



@media (min-width: 350px) and (max-width: 767px) {
  /* Styles for small screens only */

}

@media (min-width: 768px){
  /* Styles for small screens only */
  .Form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
